* {
  box-sizing: border-box;
}

html {
  margin: 0;
  padding: 0;
}

body {
  background: #040404;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.wrapper {
  display: flex;
  flex-direction: row;
}

.one__1 {
  width: 30px;
  padding: 35px;
  background-color: grey;
  position: relative;
  top: 80px;
  margin-right: 5px;
}

.two__2 {
  width: 30px;
  padding: 35px;
  background-color: white;
  margin-top: 5px;
}

.three__3 {
  width: 30px;
  padding: 35px;
  background-color: orange;
  margin-top: 5px;
  left: 5px;
  position: relative;
  bottom: 75px;
}

.four__4 {
  width: 30px;
  padding: 35px;
  background-color: lightblue;
  position: relative;
  left: 10px;
  bottom: 150px;
  margin-top: 5px;
}
